
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
		<head>
			<link th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}" rel="stylesheet" >
			<title>404 ERROR PAGE</title>
		</head>
		<body>
			<div class="container">
				<div class="card">
					<div class="card-header">
						404 ERROR PAGE
					</div>
					<div class="card-body">
						<h5 class="card-title">存在しないページです。</h5>
						<p class="card-text">申し訳ございません。<br>
							アクセスしようとしたページ（URL）が見つかりませんでした。<br>
							アドレスが正しく入力されているかご確認ください。<br>
							指定されたページは削除されたか、移動した可能性があります。</p>
						<a href="/" class="btn btn-primary">TOP</a>
					</div>
				</div>
			</div>
		</body>
</html>